<%- include("partials/header") %>

<div class="ui main segment container text">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui attached top">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="Blog Image">
            <div class="content">
                <span><%= blog.create.toDateString() %></span>
            </div>
            <br>
            <div class="description"><p><%- blog.body %></p></div>
            <br>
            <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") %>